[TWITTER]
APP_KEY = xxxxxxxxxxxxxxx
APP_SECRET = xxxxxxxxxxxxxxx
OAUTH_TOKEN = xxxxxxxxxxxxxxx-xxxxxxxxxxxxxxx
OAUTH_TOKEN_SECRET = xxxxxxxxxxxxxxx
ACCOUNT = xxxxx
EXCLUDE_WORDS = xxx,yyy
INCLUDE_WORDS = zzz,qqq

[PUSHOVER]
USER_KEY = xxxxxxxxxxxxxxx
TOKEN_API = xxxxxxxxxxxxxxx
SOUND = pushover